$orange: #f4600c;
$gray: #eaecf0;
$white: #fff;
$color_gray: #1d2939;
$color_title: #667085;
$bg_white: #f3fbfd;
$border_footer: #eaecf0;
$bg_white2: #fef7f3;
$box_shadow: #10182808;
$border_shadow: #00000014;
$bg_white_3: #f9fafb;
